.gtd__section.gtd-home-1.text-white.gtd-btm-1
    .deco
    .container 
        .content
            .row 
                .col-lg-6 
                    .section__content
                        p.gtd__sub Gotadi Business Travel Management
                        h1.gtd__title Gotadi BTM
                        p.section__description Gotadi BTM là Hệ thống phần mềm áp dụng công nghệ mới SAAS Travel Platform (Software as a Services) cho phép các doanh nghiệp có quy mô lớn quản lý nhân viên trong việc đặt mua và sử dụng các dịch vụ như phương tiện di chuyển và chỗ ở nhằm phục vụ cho các chuyến công tác.
                .col-lg-6 
                    .section__video.cursor-pointer
                        span.video__preview
                            img.w-full(src="./img/btm/group-13@3x.png", alt="")
                        span.video__icon.radius-full
                            img(src="./img/icon-play.png", alt="")
            h2.text-center Bạn cứ yên tâm công tác, mọi thứ để Gotadi lo
                span với Gotadi BTM