.gtd__section.text-white.gtd-btm-1
    .deco
    .container 
        .content
            .row 
                .col-lg-6 
                    .section__content
                        p.gtd__sub Gotadi Business Travel Management
                        h1.gtd__title Gotadi BTM
                        p.section__description Gotadi BTM là Hệ thống phần mềm áp dụng công nghệ mới SAAS Travel Platform (Software as a Services) cho phép các doanh nghiệp có quy mô lớn quản lý nhân viên trong việc đặt mua và sử dụng các dịch vụ như phương tiện di chuyển và chỗ ở nhằm phục vụ cho các chuyến công tác.
                .col-lg-6 
                    .section__video.cursor-pointer
                        a(href="https://www.youtube.com/embed/TmclgNLFbm8?autoplay=1"
                            data-fancybox
                            data-type="iframe"
                            data-preload="false"
                            ) 
                            span.video__preview
                                img.w-full(src="./img/btm/group-13@3x.png", alt="")
                            span.video__icon.radius-full
                                img(src="./img/icon-play.png", alt="")
            h2.text-center Bạn cứ yên tâm công tác, mọi thứ để Gotadi lo
                span với Gotadi BTM
.gtd__section.gtd-btm-2.text-white 
    .container 
        h2.gtd__title.gtd__title--arrow.justify-content-center.text-center 5 Giá trị Gotadi BTM 
            br.mobile
            | mang lại
        .content
            .row.justify-content-center 
                .col-md-6.col-lg-4 
                    .content__item.text-center.text-normal
                        .content__icon 
                            img(src="./img/btm/automation.png", alt="")
                        h4.content__title Đặt chỗ thành công tức thời nhờ Gotadi kết nối trực tiếp với các hãng hàng không & khách sạn.
                .col-md-6.col-lg-4 
                    .content__item.text-center.text-normal
                        .content__icon 
                            img(src="./img/btm/checked.png", alt="")
                        h4.content__title Dễ dàng chọn lựa chuyến bay phù hợp lịch trình với mức giá tốt nhất nhờ kết nối với đa dạng hãng hàng không cùng công nghệ hiện đại của Gotadi BTM.
                .col-md-6.col-lg-4 
                    .content__item.text-center.text-normal
                        .content__icon 
                            img(src="./img/btm/best-price.png", alt="")
                        h4.content__title Quản lý chặt chẽ và hạn chế chi phí đôn giá nhờ không phải thông qua đại lý bán vé thông thường.
                .col-md-6.col-lg-4 
                    .content__item.text-center.text-normal
                        .content__icon 
                            img(src="./img/btm/research.png", alt="")
                        h4.content__title Kiểm soát ngân sách hiệu quả nhờ hệ thống lưu trữ đầy đủ chứng từ & hóa đơn thanh toán.
                .col-md-6.col-lg-4 
                    .content__item.text-center.text-normal
                        .content__icon 
                            img(src="./img/btm/business-credit-report.png", alt="")
                        h4.content__title Hỗ trợ hạn mức công nợ cao khi sử dụng dịch vụ..
.gtd__section.gtd-btm-3
    .container 
        h2.gtd__title.gtd__title--arrow.justify-content-center.text-center Gotadi BTM giải quyết vấn đề gì
            br
            | cho Doanh nghiệp
        .content 
            .row 
                .col-lg-6.content__column
                    .solution 
                        h3.solution__title THỰC TRẠNG THƯỜNG GẶP
                        .solution__box 
                            .solution__item 
                                .solution__icon 
                                    img(src="./img/btm/comment-check.png", alt="")
                                .solution__content 
                                    h4 1. ĐỐI VỚI NHÂN VIÊN
                                    .solution__text
                                        p Thiếu sự chủ động, phụ thuộc vào admin và các agency booking.
                                        p Không có nhiều sự lựa chọn cho chuyến công tác.
                                        p Gặp khó khăn trong việc quản lý & giải trình hóa đơn, công tác phí.
                            .solution__item 
                                .solution__icon 
                                    img(src="./img/btm/comment-check.png", alt="")
                                .solution__content 
                                    h4 2. ĐỐI VỚI CẤP QUẢN LÝ
                                    .solution__text
                                        p Không kiểm soát được lịch trình công tác của nhân viên. 
                                        p Làm việc thủ công & không có quy trình chuẩn nên mất thời gian lên kế hoạch, phê duyệt lịch trình.
                                        p Lo lắng việc bảo mật thông tin doanh nghiệp.
                            .solution__item 
                                .solution__icon 
                                    img(src="./img/btm/comment-check.png", alt="")
                                .solution__content 
                                    h4 3. ĐỐI VỚI DOANH NGHIỆP
                                    .solution__text
                                        p Khó quản lý & kiểm soát chi phí công tác theo từng bộ phận, từng cấu thành.
                                        p Khó đối soát chi phí & dòng tiền thanh toán.
                                        p Hao hụt chi phí & thời gian cho quá nhiều công đoạn như phí booking, chênh lêch giá, không đúng giá...
                .col-lg-6.content__column
                    .solution 
                        h3.solution__title GIẢI PHÁP CHO DOANH NGHIỆP VỚI GOTADI BTM
                        .solution__box
                            .solution__item 
                                .solution__icon 
                                    img(src="./img/btm/comment-check-copy-3.png", alt="")
                                .solution__content 
                                    h4 1. GIẢI PHÁP CHO NHÂN VIÊN
                                    .solution__text
                                        p Chủ động xin phê duyệt và tự đặt, xuất vé/ khách sạn nhanh chóng, dễ dàng.
                                        p Được lựa chọn chuyến bay/ khách sạn phù hợp.
                                        p Dễ dàng liệt kê công tác phí, thuận tiện khi làm thủ tục báo cáo hóa đơn.
                            .solution__item 
                                .solution__icon 
                                    img(src="./img/btm/comment-check-copy-3.png", alt="")
                                .solution__content 
                                    h4 2. GIẢI PHÁP CHO CẤP QUẢN LÝ

                                    .solution__text
                                        p Dễ dàng kiểm soát & quyết định chi phí công tác nhân viên
                                        p Tiết kiệm chi phí và nguồn lực khi áp dụng một hệ thống quản lý công tác duy nhất.
                                        p Dữ liệu Doanh nghiệp được bảo mật trên nền tảng AWS.
                            .solution__item 
                                .solution__icon 
                                    img(src="./img/btm/comment-check-copy-3.png", alt="")
                                .solution__content 
                                    h4 3. GIẢI PHÁP CHO DOANH NGHIỆP
                                    .solution__text
                                        p Dễ dàng quản lý, kiểm soát chi phí công tác từng bộ phận / phòng ban trên một hệ thống duy nhất.
                                        p Kiểm soát dòng tiền, đối soát và thanh toán sau 45 ngày với hạn mức công nợ không giới hạn.
                                        p Tối ưu và tiết kiệm ngân sách đi lại 20 – 30%
            
            .view-more.text-center.mobile
                a(href="#").gtd__button Giải pháp cho doanh nghiệp

.gtd__section.gtd-btm-4.text-white
    .shape
    .container 
        h2.gtd__title.gtd__title--arrow.justify-content-center.text-center Tài liệu tham khảo
        .document__list.d-flex.justify-content-center 
            .document__item.text-center 
                .document__icon 
                    img(src="./img/btm/icon-folder.png", alt="")
                p.document__title Tài liệu tham khảo
            .document__item.text-center 
                .document__icon 
                    img(src="./img/btm/file-and-folder-1.png", alt="")
                p.document__title Tài liệu kết nối
            .document__item.text-center 
                .document__icon 
                    img(src="./img/btm/video.png", alt="")
                p.document__title Tài liệu videos
.gtd__section.gtd-btm-5
    .container 
        h2.gtd__title.gtd__title--arrow.justify-content-center.text-center Quy trình kết nối
        .content 
            .step__list.d-flex.justify-content-center
                .step__item.text-center
                    .step__number 01
                    .step__text  Tiếp cận & thu thập thông tin doanh nghiệp (online & offline)
                .step__item.text-center
                    .step__number 02
                    .step__text  Tìm hiểu nhu cầu thực tế và đưa ra các giải pháp cho doanh nghiệp
                .step__item.text-center
                    .step__number 03
                    .step__text  Thuyết trình chính & chốt hạng mục
                .step__item.text-center
                    .step__number 04
                    .step__text  Ký kết hợp đồng
                .step__item.text-center
                    .step__number 05
                    .step__text  Kết nối, tư vấn & hướng dẫn cài đặt các quy trình trong hệ thống
                .step__item.text-center
                    .step__number 06
                    .step__text  Nghiệm thu & sử dụng
                .step__item.text-center
                    .step__number 07
                    .step__text  Đối soát & bảo trì

.gtd__section.gtd__contact.gtd-btm-6.text-white
    .container
        h2.gtd__title.gtd__title--arrow.justify-content-center.text-center Liên hệ với chúng tôi
        .content 
            .contact 
                .row.justify-content-center
                    -for(i=0;i<4;i++)
                        .col-md-6.col-lg-3 
                            .contact__item 
                                h3.contact__name.text-center GOTADI BTM
                                p.contact__info
                                    img.contact__icon(src="./img/home/icon-phone@3x.png", alt="")
                                    span 0909 123456
                                p.contact__info
                                    img.contact__icon(src="./img/home/icon-mail@3x.png", alt="")
                                    span btm-test@gmail.com
                    .col-md-8.col-lg-6 
                        .contact__form.text-normal
                            h4.text-center Để lại thông tin để được tư vấn giải pháp & sản phẩm Gotadi Doanh nghiệp 
                            form
                                .contact__input 
                                    input(type="text" placeholder="Người liên hệ")
                                .contact__input 
                                    input(type="text" placeholder="Email liên hệ")
                                .contact__input 
                                    input(type="text" placeholder="Điện thoại liên hệ")
                                .contact__input 
                                    input(type="text" placeholder="Tên Doanh nghiệp")
                                .contact__button 
                                    button(type='button') Yêu cầu tư vấn 
                .contact__button.text-center.mobile
                    a(href="#").gtd__button Yêu cầu tư vấn
