section.gtd__breadcrumb.breadcrumb.text-white
    .container 
        h1 Thanh toán vé máy bay với Zalo Pay - giảm ngay 150k
        .information 
            .row
                .col-3.information__column 
                    p.information__label Khách hàng
                    p.information__value ZaloPay
                .col-3.information__column 
                    p.information__label Ngành hàng
                    p.information__value Tài chính
                .col-3.information__column 
                    p.information__label Nền tảng
                    p.information__value Web, App
                .col-3.information__column 
                    p.information__label Giải pháp chính
                    p.information__value Liên kết API