.gtd-case-study-1 
    .container 
        .banner 
            img.w-100(src="./img/case-study/1-x-gotadifix@3x.png", alt="")
        .section__main 
            .row 
                .col-lg-9 
                    .summary 
                        .row 
                            .col-md-4 
                                .summary__item.text-center
                                    p.summary__title 18 triệu
                                    p.summary__sub Lượt tiếp cận
                            .col-md-4 
                                .summary__item.text-center
                                    p.summary__title 11k
                                    p.summary__sub Lượt click vào quảng cáo
                            .col-md-4 
                                .summary__item.text-center
                                    p.summary__title 6,2k
                                    p.summary__sub Lượt sử dụng voucher
                    .content 
                        .content__item 
                            h5 Tổng quan
                            .content__text 
                                p Hiện nay việc thanh toán trực tuyến thông qua ví điện tử ZaloPay đã trở thành xu hướng bởi tính tiện dụng, nhanh chóng và an toàn.
                                p Để khách hàng có thêm lựa chọn, Gotadi kết hợp cùng ZaloPay mang đến giải pháp thanh toán “siêu nhanh – siêu tiện lợi” khi đặt vé máy bay, phòng khách sạn và tour du lịch trên website: Gotadi.com, bằng cách quét mã QR Code. 
                                p(style="text-align: center")
                                    img(src="./img/case-study/bitmap.png", alt="")
                        .content__item 
                            h5 Thách thức
                            .content__text
                                p Trong lương lai, Gotadi và ZaloPay sẽ tiếp tục triển khai hỗ trợ khách hàng thanh toán thông qua App Gotadi (hiện có mặt trên App Store và CH Play).
                                p Sự kết hợp mang tính chiến lược của Gotadi và ZaloPay sẽ giúp khách hàng:
                                ul
                                    li - Tiết kiệm thời gian
                                    li - Tiết kiệm chi phí
                                    li - An toàn và bảo mật
                                p Nhờ có ZaloPay, thanh toán thật nhanh chóng chỉ sau vài cú click chuột!
                        .content__item 
                            h5 Giải pháp 
                            .content__text
                                p Khách hàng chỉ cần:
                                ul
                                    li - Mở App ZaloPay
                                    li - Chọn quét mã QR Code để thanh toán.

                                p Theo đó, với mỗi giao dịch thanh toán thành công khi đặt mua thành công vé máy bay nội địa trên app ZaloPay, khách hàng sẽ được hoàn lại 10% tối đa 150.000VNĐ.

                                p
                                    strong LƯU Ý:
                                p - Áp dụng cho ZaloPay từ phiên bản 3.20 trở lên.
                                    br
                                    | - Áp dụng cho thẻ/ tài khoản ngân hàng liên kết với tài khoản ZaloPay từ trước ngày 11/01/2019.
                                    br
                                    | - Mỗi Khách hàng chỉ nhận ưu đãi 1 lần duy nhất.
                                    br
                                    | - Thẻ/ tài khoản ngân hàng áp dụng: Vietcombank, BIDV, Vietinbank, Sacombank, Eximbank, SCB, MBBank, Vietcapital Bank, MBBank, VISA, MasterCard, JCB, (không áp dụng thẻ ảo, thẻ prepaid và các thẻ có dấu hiệu đầu cơ, gian lận)
                                    br
                                    | - Việc hoàn - trả đơn hàng cho các giao dịch khuyến mãi sẽ tùy thuộc vào các chính sách hoàn -hủy của Gotadi và hãng bay.
                                    br
                                    | - KHÔNG ÁP DỤNG với KH đã có phát sinh giao dịch đầu tiên là: chuyển tiền ZaloPay trên Zalo; lì xì, gửi tiền mừng; chuyển tiền từ tài khoản ZaloPay đến thẻ ATM/ Tài khoản Ngân hàng.
                                    br
                                    | - Chương trình có thể kết thúc sớm hơn dự kiến khi hết ngân sách khuyến mại.
                                    br
                                    | Nếu xảy ra tranh chấp, quyết định của ZaloPay là quyết định cuối cùng.
                .col-lg-2.ml-auto
                    .navigation 
                        p.navigation__title Nội dung
                        .navigation__list
                            .navigation__item.active Tổng quan
                            .navigation__item Thách thức
                            .navigation__item Giải pháp
                            .navigation__item Kết quả
.gtd__section.gtd__contact.text-white
    .container
        h2.gtd__title.gtd__title--arrow.justify-content-center.text-center Liên hệ với chúng tôi
        .content 
            .contact 
                .row.justify-content-center
                    -for(i=0;i<4;i++)
                        .col-md-6.col-lg-3 
                            .contact__item 
                                h3.contact__name.text-center GOTADI BTM
                                p.contact__info
                                    img.contact__icon(src="./img/home/icon-phone@3x.png", alt="")
                                    span 0909 123456
                                p.contact__info
                                    img.contact__icon(src="./img/home/icon-mail@3x.png", alt="")
                                    span btm-test@gmail.com
                    .col-md-8.col-lg-6 
                        .contact__form.text-normal
                            h4.text-center Để lại thông tin để được tư vấn giải pháp & sản phẩm Gotadi Doanh nghiệp 
                            form
                                .contact__input 
                                    input(type="text" placeholder="Người liên hệ")
                                .contact__input 
                                    input(type="text" placeholder="Email liên hệ")
                                .contact__input 
                                    input(type="text" placeholder="Điện thoại liên hệ")
                                .contact__input 
                                    input(type="text" placeholder="Tên Doanh nghiệp")
                                .contact__button 
                                    button(type='button') Yêu cầu tư vấn 
                .contact__button.text-center.mobile
                    a(href="#").gtd__button Yêu cầu tư vấn
