header.header.text-white 
    .container 
        .header__main
            .header__logo 
                a(href="#") 
                    img(src="./img/gtd-business-logo.png", alt="")
            .header__pages 
                ul 
                    li.active
                        a(href="#") Trang chủ 
                    li.has-dropdown
                        a(href="#") Giải pháp & sản phẩm
                        span.icon-dropdown
                        .dropdown 
                            ul 
                                li.dropdown__item 
                                    a(href="#") Gotadi BTM
                                li.dropdown__item 
                                    a(href="#") Gotadi SME
                                li.dropdown__item 
                                    a(href="#") Corporate tour
                                li.dropdown__item 
                                    a(href="#") Travel desk
                    li.has-dropdown
                        a(href="#") Tài liệu sử dụng & thư viện
                        span.icon-dropdown
                        .dropdown 
                            ul 
                                li.dropdown__item 
                                    a(href="#") Case study
                                li.dropdown__item 
                                    a(href="#") Hình ảnh & video clip
                                li.dropdown__item 
                                    a(href="#") Tài liệu
                    li.has-dropdown
                        a(href="#") Tin tức & khách hàng
                        span.icon-dropdown
                        .dropdown 
                            ul 
                                li.dropdown__item 
                                    a(href="#") Tin báo chí
                                li.dropdown__item 
                                    a(href="#") Tin doanh nghiệp
                                li.dropdown__item 
                                    a(href="#") Our clients
                    li.has-dropdown
                        a(href="#") Liên hệ
                        span.icon-dropdown
                        .dropdown 
                            ul 
                                li.dropdown__item 
                                    a(href="#") Quy trình
                                li.dropdown__item 
                                    a(href="#") Liên hệ
            .mobile-bg
                .header__language
                    .header__language-current
                        img(src="./img/vietnam.png", alt="")
                        span VN
                    .header__language-list 
                        a(href="#") 
                            img(src="./img/vietnam.png", alt="")
                            span VN
                        a(href="#") 
                            img(src="./img/vietnam.png", alt="")
                            span VN
                .toggle-btn
                    span 
                    span 
                    span
    .mobile-wrapper