header.header.text-white 
    .container 
        .header__main
            .header__logo 
                a(href="#") 
                    img(src="./img/gtd-business-logo.png", alt="")
            //- .header__pages 
                ul 
                    li.active
                        a(href="#") Trang chủ 
                    li.has-dropdown
                        a(href="#") Giải pháp & sản phẩm
                        span.icon-dropdown
                        .dropdown 
                            ul 
                                li.dropdown__item 
                                    a(href="#") Gotadi BTM
                                li.dropdown__item 
                                    a(href="#") Gotadi SME
                                li.dropdown__item 
                                    a(href="#") Corporate tour
                                li.dropdown__item 
                                    a(href="#") Travel desk
                    li.has-dropdown
                        a(href="#") Tài liệu sử dụng & thư viện
                        span.icon-dropdown
                        .dropdown 
                            ul 
                                li.dropdown__item 
                                    a(href="#") Case study
                                li.dropdown__item 
                                    a(href="#") Hình ảnh & video clip
                                li.dropdown__item 
                                    a(href="#") Tài liệu
                    li.has-dropdown
                        a(href="#") Tin tức & khách hàng
                        span.icon-dropdown
                        .dropdown 
                            ul 
                                li.dropdown__item 
                                    a(href="#") Tin báo chí
                                li.dropdown__item 
                                    a(href="#") Tin doanh nghiệp
                                li.dropdown__item 
                                    a(href="#") Our clients
                    li.has-dropdown
                        a(href="#") Liên hệ
                        span.icon-dropdown
                        .dropdown 
                            ul 
                                li.dropdown__item 
                                    a(href="#") Quy trình
                                li.dropdown__item 
                                    a(href="#") Liên hệ
            .header__pages
                .menu-main-menu-container
                    ul.nav-bottom-ul-wrap
                        li#menu-item-50.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-2.current_page_item.menu-item-50
                            a(href='http://business.gotadi.com/' aria-current='page') Trang ch&#x1EE7;
                        li#menu-item-62.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-62
                            a(href='#') Gi&#x1EA3;i ph&aacute;p &amp; s&#x1EA3;n ph&#x1EA9;m
                            ul.sub-menu
                                li#menu-item-66.menu-item.menu-item-type-post_type.menu-item-object-product_gtd_business.menu-item-66
                                    a(href='http://business.gotadi.com/giai-phap-san-pham/gotadi-btm/') GOTADI BTM
                                li#menu-item-63.menu-item.menu-item-type-post_type.menu-item-object-product_gtd_business.menu-item-63
                                    a(href='http://business.gotadi.com/giai-phap-san-pham/travel-desk/') TRAVEL DESK
                                li#menu-item-65.menu-item.menu-item-type-post_type.menu-item-object-product_gtd_business.menu-item-65
                                    a(href='http://business.gotadi.com/giai-phap-san-pham/gotadi-sme/') GOTADI SME
                                li#menu-item-64.menu-item.menu-item-type-post_type.menu-item-object-product_gtd_business.menu-item-64
                                    a(href='http://business.gotadi.com/giai-phap-san-pham/corporate-tour/') CORPORATE TOUR
                        li#menu-item-68.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-68
                            a(href='#') T&agrave;i li&#x1EC7;u th&#x1B0; vi&#x1EC7;n &amp; s&#x1EED; d&#x1EE5;ng
                            ul.sub-menu
                                li#menu-item-69.menu-item.menu-item-type-post_type.menu-item-object-library_gallery.menu-item-69
                                    a(href='http://business.gotadi.com/lib/case-study/') Case study
                                li#menu-item-73.menu-item.menu-item-type-post_type.menu-item-object-library_gallery.menu-item-73
                                    a(href='http://business.gotadi.com/lib/hinh-anh-video/') H&igrave;nh &#x1EA3;nh &amp; Video
                                li#menu-item-72.menu-item.menu-item-type-post_type.menu-item-object-library_gallery.menu-item-72
                                    a(href='http://business.gotadi.com/lib/tai-lieu/') T&agrave;i li&#x1EC7;u
                        li#menu-item-54.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children.menu-item-54
                            a(href='http://business.gotadi.com/category/tin-tuc-khach-hang/') Tin t&#x1EE9;c &amp; kh&aacute;ch h&agrave;ng
                            ul.sub-menu
                                li#menu-item-75.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-75
                                    a(href='http://business.gotadi.com/category/tin-tuc-khach-hang/tin-bao-chi/') Tin b&aacute;o ch&iacute;
                                li#menu-item-76.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-76
                                    a(href='http://business.gotadi.com/category/tin-tuc-khach-hang/tin-doanh-nghiep/') Tin doanh nghi&#x1EC7;p
                                li#menu-item-74.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-74
                                    a(href='http://business.gotadi.com/category/tin-tuc-khach-hang/our-clients/') Our clients
                        li#menu-item-79.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-79
                            a(href='#') Li&ecirc;n h&#x1EC7;
                            ul.sub-menu
                                li#menu-item-80.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-80
                                    a(href='http://business.gotadi.com/quy-trinh/') Quy tr&igrave;nh
                                li#menu-item-53.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-53
                                    a(href='http://business.gotadi.com/lien-he/') Li&ecirc;n h&#x1EC7;

            .mobile-bg
                .header__language
                    .header__language-current
                        img(src="./img/vietnam.png", alt="")
                        span VN
                    .header__language-list 
                        a(href="#") 
                            img(src="./img/vietnam.png", alt="")
                            span VN
                        a(href="#") 
                            img(src="./img/vietnam.png", alt="")
                            span VN
                .toggle-btn
                    span 
                    span 
                    span
    .mobile-wrapper