.footer {
  overflow-x: hidden;
  &__main {
    padding: 48px 0 56px;
    position: relative;
    z-index: 5;
    .information {
      &__list {
        li {
          margin-top: 20px;
          display: flex;
          align-items: flex-start;
          img {
            max-width: 24px;
            margin-right: 20px;
          }
        }
      }
    }
    .summary {
      margin-top: 42px;
      &__list {
        li {
          margin-top: 20px;
          img {
            max-width: 24px;
            margin-right: 20px;
          }
        }
      }
      &__certification {
        img {
          max-width: 160px;
          + img {
            margin-top: 16px;
          }
        }
      }
    }
  }
  &__copyright {
    // margin-top: -250px;
    position: relative;
    padding: 24px 0;
    background: $footer;
    .shape {
      &:before {
        position: absolute;
        bottom: 100%;
        left: 50%;
        box-shadow: 0 500px 0 400px #e2e2e2;
        background: #fff;
        border-radius: 100%;
        width: 120%;
        height: 100%;
        transform: translateX(-50%);
        height: 500px;
        pointer-events: none;
        content: "";
      }
    }
    p {
      position: relative;
      z-index: 5;
    }
  }
  @media (max-width: 1025px) {
    &__main {
      padding: 15px 0;
      .information {
        &__list {
          margin-bottom: 20px;
          li {
            margin-top: 10px;
          }
        }
      }
      .summary {
        margin-top: 15px;
        &__list {
          margin-bottom: 20px;
          li {
            margin-top: 10px;
          }
        }
        &__certification {
          img {
            display: block;
          }
        }
      }
    }
    &__copyright {
      padding: 20px 0;
      .shape {
        display: none;
      }
    }
  }
}

.home-page {
  .footer {
    &__copyright {
      .shape {
        width: 200px;
        height: 200px;
        position: absolute;
        bottom: 100%;
        left: 0;
        overflow: hidden;
        &:before {
          position: absolute;
          bottom: 0;
          left: 0;
          border-radius: 50%;
          box-shadow: -100px 100px 0 0 $footer;
          pointer-events: none;
          content: "";
          width: 200%;
          height: 200%;
          transform: none;
        }
      }
    }
  }
}
