footer.footer
    .footer__main 
        .container 
            .information 
                .row 
                    .col-lg-6 
                        h4.information__title Văn phòng Hồ Chí Minh
                        ul.information__list 
                            li 
                                img(src="./img/home/icon-location@3x.png", alt="")
                                span 194 Nguyễn Thị Minh Khai, Phường 6, Quận 3, TP. Hồ Chí Minh
                            li 
                                img(src="./img/home/icon-phone@3x.png", alt="")
                                span Hotline HCM: 028 62 857 857
                            li 
                                img(src="./img/home/icon-telephone@3x.png", alt="")
                                span Điện thoại: 028 62 850 850 – 133
                            li 
                                img(src="./img/home/icon-mail@3x.png", alt="")
                                span Email HCM: salescorp.sgn@gotadi.com
                    .col-lg-6 
                        h4.information__title Văn phòng Hà Nội
                        ul.information__list 
                            li 
                                img(src="./img/home/icon-location@3x.png", alt="")
                                span 47 Phan Chu Trinh, Quận Hoàn Kiếm, Hà Nội
                            li 
                                img(src="./img/home/icon-phone@3x.png", alt="")
                                span Hotline HN: 0942 75 9696
                            li 
                                img(src="./img/home/icon-telephone@3x.png", alt="")
                                span Điện thoại: 024 71 069 069
                            li 
                                img(src="./img/home/icon-mail@3x.png", alt="")
                                span Email HN: hanbd@gotadi.com
            .summary 
                .row 
                    .col-md-6.col-lg-3 
                        h4.summary__title Danh mục
                        ul.summary__list
                            li 
                                a(href="#")  Trang chủ
                            li 
                                a(href="#")  Giải pháp & sản phẩm
                            li 
                                a(href="#")  Tài liệu sử dụng & thư viện
                            li 
                                a(href="#")  Tin tức & khách hàng
                            li 
                                a(href="#")  Liên hệ
                    .col-md-6.col-lg-3 
                        h4.summary__title Liên kết
                        ul.summary__list
                            li 
                                a(href="#")  Kênh bán lẻ Gotadi.com
                            li 
                                a(href="#")  Kênh Đại lý
                            li 
                                a(href="#")  Kênh Doanh nghiệp
                            li 
                                a(href="#")  Về Gotadi
                    .col-md-6.col-lg-3 
                        h4.summary__title Theo dõi chúng tôi
                        ul.summary__list.social
                            li.social__item
                                a(href="#")
                                    img(src="./img/icon-brand-instagrame@3x.png", alt="")
                                    span Instagram
                            li.social__item
                                a(href="#")
                                    img(src="./img/icon-brand-youtube@3x.png", alt="")
                                    span Youtube
                            li.social__item
                                a(href="#")
                                    img(src="./img/icon-brand-facebook@3x.png", alt="")
                                    span Facebook
                    .col-md-6.col-lg-3 
                        .summary__certification
                            img(src="./img/logo-bocongthuong-red@3x.png", alt="")
                            img(src="./img/logo-bocongthuong-blue@3x.png", alt="")
    .footer__copyright 
        .shape
        .container 
            p.text-center Bản quyền © 2021 GOTADI FOR BUSINESS